USE [ComptoirSimplifie]
GO
/****** Object:  Table [dbo].[Pays]    Script Date: 07/19/2017 15:04:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pays](
	[IdPays2] [char](2) NOT NULL,
	[IdPays3] [char](3) NOT NULL,
	[IdPaysNum] [int] NOT NULL,
	[IdDevise] [char](3) NOT NULL,
	[LibellePays] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Pays2] PRIMARY KEY CLUSTERED 
(
	[IdPays2] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Pays] ([IdPays2], [IdPays3], [IdPaysNum], [IdDevise], [LibellePays]) VALUES (N'AD', N'AND', 20, N'EUR', N'ANDORRA')
INSERT [dbo].[Pays] ([IdPays2], [IdPays3], [IdPaysNum], [IdDevise], [LibellePays]) VALUES (N'AE', N'ARE', 784, N'AED', N'UNITED ARAB EMIRATES')
INSERT [dbo].[Pays] ([IdPays2], [IdPays3], [IdPaysNum], [IdDevise], [LibellePays]) VALUES (N'AF', N'AFG', 4, N'AFN', N'AFGHANISTAN')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
/****** Object:  Table [dbo].[Categories]    Script Date: 07/19/2017 15:04:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](15) NULL,
	[Description] [varchar](50) NULL,
	[Picture] [image] NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description], [Picture]) VALUES (1, N'beverages 2', N'Soft drinks', 0x)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description], [Picture]) VALUES (2, N'sauces', N'Sweet and savory sauces, relishes, spreads, and se', 0x)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description], [Picture]) VALUES (3, N'Desserts', N'Desserts, candies, and sweet breads', 0x)
SET IDENTITY_INSERT [dbo].[Categories] OFF
/****** Object:  Table [dbo].[Products]    Script Date: 07/19/2017 15:04:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](40) NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[TS] [timestamp] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Products] ([ProductName], [UnitPrice], [CategoryID]) VALUES (N'Chai', 26.5200, 1)
INSERT [dbo].[Products] ([ProductName], [UnitPrice], [CategoryID]) VALUES (N'Chai', 1.0000, 1)
INSERT [dbo].[Products] ([ProductName], [UnitPrice], [CategoryID]) VALUES (N'Aniseed Syrup', 25.0000, 2)
/****** Object:  Table [dbo].[Customers]    Script Date: 07/19/2017 15:04:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [char](5) NOT NULL,
	[CompanyName] [varchar](40) NULL,
	[ContactName] [varchar](30) NULL,
	[ContactTitle] [varchar](30) NULL,
	[Email] [varchar](255) NULL,
	[CreditCard] [varchar](255) NULL,
	[Address] [varchar](60) NULL,
	[City] [varchar](15) NULL,
	[Region] [varchar](15) NULL,
	[PostalCode] [varchar](10) NULL,
	[idPays] [char](2) NULL,
	[Phone] [varchar](24) NULL,
	[Fax] [varchar](24) NULL,
	[TS] [timestamp] NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Customers] ([CustomerID], [CompanyName], [ContactName], [ContactTitle], [Email], [CreditCard], [Address], [City], [Region], [PostalCode], [idPays], [Phone], [Fax]) VALUES (N'AAAA ', N'Bost', N'a', N'AA', N'dgjhf@fr.fr', NULL, N'AAA', N'AAA', NULL, N'19270', N'FR', NULL, NULL)
INSERT [dbo].[Customers] ([CustomerID], [CompanyName], [ContactName], [ContactTitle], [Email], [CreditCard], [Address], [City], [Region], [PostalCode], [idPays], [Phone], [Fax]) VALUES (N'ALFKI', N'ALFREDS FUTTERKISTE', N'Maria Anders', N'Sales Representative', NULL, NULL, N'Obere Str. 57', N'Berlin est', NULL, N'12209', N'DE', N'030-0074321', N'030-0076545')
INSERT [dbo].[Customers] ([CustomerID], [CompanyName], [ContactName], [ContactTitle], [Email], [CreditCard], [Address], [City], [Region], [PostalCode], [idPays], [Phone], [Fax]) VALUES (N'ANATR', N'ANA TRUJILLO EMPAREDADOS Y HELADOS', N'Ana Trujillo', N'Owner', NULL, NULL, N'Avda. de la Constitución 2222', N'México D.F.', NULL, N'05021', N'MX', N'(5) 555-4729', N'(5) 555-3745')
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[Orders]    Script Date: 07/19/2017 15:04:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [char](5) NULL,
	[OrderDate] [datetime] NULL,
	[TS] [timestamp] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderDate]) VALUES (10248, N'VINET', CAST(0x00009C3C00000000 AS DateTime))
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderDate]) VALUES (10249, N'TOMSP', CAST(0x000097F500000000 AS DateTime))
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderDate]) VALUES (10250, N'HANAR', CAST(0x000097F800000000 AS DateTime))
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
SET IDENTITY_INSERT [dbo].[Orders] OFF
/****** Object:  Table [dbo].[Order_Details]    Script Date: 07/19/2017 15:04:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Details](
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[Quantity] [smallint] NOT NULL,
	[Discount] [real] NOT NULL,
	[TS] [timestamp] NOT NULL,
 CONSTRAINT [PK_Order_Details] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Order_Details] ([OrderID], [ProductID], [UnitPrice], [Quantity], [Discount]) VALUES (10248, 4, 13.2000, 30, 0.1)
INSERT [dbo].[Order_Details] ([OrderID], [ProductID], [UnitPrice], [Quantity], [Discount]) VALUES (10248, 40, 14.0000, 20, 0.1)
INSERT [dbo].[Order_Details] ([OrderID], [ProductID], [UnitPrice], [Quantity], [Discount]) VALUES (10248, 42, 9.8000, 10, 0)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
/****** Object:  ForeignKey [FK_Customers_Pays]    Script Date: 07/19/2017 15:04:05 ******/
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Pays] FOREIGN KEY([idPays])
REFERENCES [dbo].[Pays] ([IdPays2])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Pays]
GO
/****** Object:  ForeignKey [FK_Order_Details_Orders]    Script Date: 07/19/2017 15:04:05 ******/
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_Order_Details_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Order_Details] CHECK CONSTRAINT [FK_Order_Details_Orders]
GO
/****** Object:  ForeignKey [FK_Order_Details_Products]    Script Date: 07/19/2017 15:04:05 ******/
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_Order_Details_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Order_Details] CHECK CONSTRAINT [FK_Order_Details_Products]
GO
/****** Object:  ForeignKey [FK_Orders_Customers]    Script Date: 07/19/2017 15:04:05 ******/
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
/****** Object:  ForeignKey [FK_Products_Categories]    Script Date: 07/19/2017 15:04:05 ******/
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
